/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar { 
  display: none; 
}

body {
  background-color: #1a1a1a;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
	font-size: 12pt;
  background:  #fff;
  text-align: left;
}

* {
  box-sizing: border-box;
}
/* Estilo do Botão */
.scrollup_fade {
  background:url(img/scroll.png) no-repeat ;
  opacity:0.3;
  width:40px;
  height:40px;
  position:fixed;
  bottom:50px;
  right:100px;
  display:none;
  -webkit-transition:.150s;
  transition:.150s;
}
.scrollup_fade:hover {opacity:0.8;}



/* Style */
.entrada, .about {
  display: flex;
}
.text {
  color: #101010;
  align-self: center;
  height: 80vh;
  font-size: 45pt;
  font-weight: 800;
  letter-spacing: 0.06em;
  line-height: 1.4em;
  padding: 10vh 0 0 15vw;
}

/* Portfolio */
.portfolio-img {
  text-align: center;
  position: relative;
  z-index: 10;
}

.portfolio-img a {
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  color: inherit;
}

.portfolio-img img {
  opacity: 0.6;
  max-width: 100%;
  height: 50vh;
  transition: 1.7s ease;
}
.portfolio-img img.ativo {
  transform: scale(1.2);
  opacity: 0;
}

figcaption {
  text-align: center;
  position: relative;
  top: -25vh;
  margin: -8vh auto;
  opacity: 0;
  transition: ease 1.5s;
  width: 40vw;
  color: #000;
}


figcaption.ativo {
  opacity: 1;
}

figcaption h4 {
  font-size: 40pt;
}

figcaption p {
  margin: 0 auto;
  max-width: 40vw;
  letter-spacing: 0.08em;
}

.portfolio h2 {
  font-size: 80pt;
  padding-left: 15vw;
  text-transform: uppercase;
}
.portfolio-img h3 {
  position: relative;
  color: #FFF;
  font-size: 60pt;
  top: -8vh;
  right: -13vw;
  text-transform: uppercase;
}

.portfolio-img h3 span {
  background: #000;
}






/* contato */
.about {
  display: flex;
  color:#444;
}

.flex-titulo, .flex-texto {
  flex: 1;
  padding: 4vw 4vw 0 4vw;
  margin: 0px 6vw;
  align-self: center;
}

.about .flex-titulo {
  font-size: 80pt;
  flex: 1;
  color: #1a1a1a;
  padding-bottom: 7vh;
}

.flex-titulo h2 {
  padding: 0 4vw;
}

.about .flex-texto {
  display: flex;
  flex-direction: column;
  flex: 2;
  line-height: 1.4em;
}

.about .flex-texto > div {
  margin: 2vh 0;
}

.about .flex-texto > div ul li {
  list-style-position: inside;
}

.about .flex-texto h3 {
color: #1a1a1a;
font-weight: 400;
font-size: 20pt;
text-transform: uppercase;
margin-bottom: 10px;
letter-spacing: 0.08em;
}

.about .flex-texto h3::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #E5E5E5;
  margin-top: 3px;
}

.flex-texto .quem p {
  margin-bottom: 2vh;
}

.flex-texto ul li {
  list-style-type: disc;
  line-height: 1.6em;
}

.flex-texto h3 span.cafe {
  font-size: 10pt;
  font-weight: 300;
}












/* FOOTER */
.footer {
  position: fixed;
  width:100vw;
  z-index: 3;
  bottom:0;
  left:0;
  display: block;
  text-align: center;
}

.footer a, .flex-texto a {
  font-size: 3vh;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.05em;
  transition: ease-in .5s;
  line-height: 1.5em;
  display: inline-block;
  font-weight: 400;
}

.footer a::after, .flex-texto a::after {
  content:'';
  display: block;
  background: #000;
  height: 1px;
  width: 1px;
  opacity: 0;
  transition: 1s;
}

.footer a:hover, .flex-texto a:hover, .footer a.active { 
  letter-spacing: 0.4em;
}

.footer a:hover::after {
  opacity: 1;
  width: 100%;
}

.footer a.portf {
  float: left;
  padding: 0 0 1vh 3vw;
}
.footer a.contato {
  float: right;
  padding: 0 3vw 2vh 0;
}

.footer a.button-top.active {
  opacity: 0;
  visibility: hidden;
  transition: ease 1.4s;

}

.footer a.button-top {
  opacity: 1;
  visibility: visible;
}

/* Smartphones ----------- */
@media (max-width: 739px) {
  .about {
    display: block; 
  }

  .portfolio h2 {
    font-size: 40pt;
    padding: 0;
    text-align: center;
    display: none;
  }

  figcaption {
    margin: 0 auto;
    position: initial;
    opacity: 1;
  }

  figcaption h4 {
    margin-bottom: 20px;
  }

  .portfolio-img img, .portfolio-img span {
    display: none;
  }

  .about .flex-titulo, .about .flex-texto {
    margin: 0 auto;
    float:none;
    text-align: center;
  }
  .flex-titulo h2 {
    display: none;
  }
  .flex-texto h3 span.cafe {
    display: none;
  }

  .footer {
    display: none;
  }
}